@{
    projecto2.Models.ProjectO1Entities db = new projecto2.Models.ProjectO1Entities();
    List<projecto2.Models.MenuItem> headmenu = db.MenuItem.Where(t => t.ParentMenuId == null).ToList();
}
<!-- Start Header Section -->
<div class="hidden-header"></div>
<header class="clearfix">
    <!-- End Top Bar -->
    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="/home">
                    <img alt="" src="~/Content/images/vSource Software Solutions.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">               
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-left">

                    @foreach (var item in headmenu)
                    {
                        <li>
                            <a  href="@item.Link" style="font-size:17px; text-transform:uppercase;">@item.Display</a>

                            @if (item.MenuItem1.Count() != 0)
                            {
                                <ul class="dropdown">
                                    @foreach (var submenu in item.MenuItem1)
                                    {
                                        <li>
                                            <a href="@submenu.Link" style="font-size:15px;">@submenu.Display</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
            @foreach (var item in headmenu)
            {
                <li>
                    <a href="@item.Link">@item.Display</a>

                    @if (item.MenuItem1.Count() != 0)
                    {
                        <ul class="dropdown">
                            @foreach (var submenu in item.MenuItem1)
                            {
                                <li>
                                    <a href="@submenu.Link">@submenu.Display</a>
                                </li>                                
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
        <!-- Mobile Menu End -->
    </div>
    <!-- End Header Logo & Naviagtion -->
</header>
<!-- End Header Section -->
