<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <!-- Basic -->
    <title>@(ViewBag.Title != null? ViewBag.Title: "vSource Software Solution")</title>
    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/Content/asset/css/bootstrap.min.css" type="text/css" media="screen">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" media="screen">
        
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/slicknav.css" media="screen">
    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen">
    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" media="screen">
    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css" media="screen">
    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/jade.css" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/green.css" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/beige.css" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/cyan.css" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/orange.css" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/peach.css" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/pink.css" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/purple.css" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/sky-blue.css" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/yellow.css" title="yellow" media="screen" />
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Content/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/count-to.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Content/js/mediaelement-and-player.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.slicknav.js"></script>

    <link href="~/scripts/hover-min.css" rel="stylesheet" />

    <script src="~/scripts/myanguarjs/angular.min.js"></script>
    <script src="~/scripts/myanguarjs/app.js"></script>

    <script src="~/content/plugins/ace/ace.js"></script>
    <script src="//rawgit.com/angular-ui/ui-router/0.2.13/release/angular-ui-router.js"></script>
    <script src="//ace.c9.io/build/src/ace.js"></script>
    <script src="//angular-ui.github.io/ui-ace/dist/ui-ace.min.js"></script>
    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->



    <!--AdminLTE template
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  -->
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

    <link href="~/content/my_css.css" rel="stylesheet" />
</head>
<body ng-app="MyProjectApp">
    <!-- Full Body Container -->
    <div id="container">
        @Html.Partial("_Header")

        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    <script type="text/javascript" src="~/Content/js/script.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


